/********** COLORS ***********/

.grey {color:#555}

/********** BACKGROUNDS ***********/

.light_grey {background:#eee}

/********** NAV ***********/

#nav {height:64px;border-bottom:1px solid #ddd}
#nav #logo {line-height:64px}

/********** FONTS ***********/

.strong {font-weight:bold}

/********** GLOBALS ***********/

html, body {padding:0;margin:0;font-family:sans-serif}
* {box-sizing:border-box}
.container {width:1280px;max-width:90%;margin:auto}
p {line-height:1.5em}

