/********** TABLE ***********/

table {width:100%}

/********** IMGS ***********/
.img_border {border:1px solid #ccc}
.img_shadow {box-shadow:0 15px 30px rgba(0,0,0,0.06)}

/********** BORDER RADIUS ***********/
.radius_16 {border-radius:16px}
.radius {border-radius:100%}

/********** COLS ***********/
.cols {display:table;width:100%;table-layout:fixed}
.col {display:table-cell}

@media all and (max-width:620px) {
.cols {display:block}
.col {display:block}
}

/********** MARGINS ***********/
.m_t_xl {margin-top:72px}
.m_r_xl {margin-right:72px}
.m_b_xl {margin-bottom:72px}
.m_l_xl {margin-left:72px}

.m_t_l {margin-top:48px}
.m_r_l {margin-right:48px}
.m_b_l {margin-bottom:48px}
.m_l_l {margin-left:48px}

.m_t_s {margin-top:24px}
.m_r_s {margin-right:24px}
.m_b_s {margin-bottom:24px}
.m_l_s {margin-left:24px}

/********** PADDING ***********/
.p_t_xl {padding-top:72px}
.p_r_xl {padding-right:72px}
.p_b_xl {padding-bottom:72px}
.p_l_xl {padding-left:72px}

.p_t_l {padding-top:48px}
.p_r_l {padding-right:48px}
.p_b_l {padding-bottom:48px}
.p_l_l {padding-left:48px}

.p_t_s {padding-top:24px}
.p_r_s {padding-right:24px}
.p_b_s {padding-bottom:24px}
.p_l_s {padding-left:24px}

/********** COLORS ***********/
.grey {color:#777}

/********** BACKGROUNDS ***********/
.bg-light_grey {background:#eee}
.bg-white {background:#fff}

/********** ALIGNS ***********/
.vertical_a_middle {vertical-align:middle}
.vertical_a_top {vertical-align:top}
.vertical_a_bottom {vertical-align:bottom}

.align_left {text-align:left}
.align_right {text-align:right}
.align_center{text-align:center}

/********** WIDTHS ***********/
.width50 {width:48%;display:table-cell}
.width100 {width:100%;display:table-cell}
.left.width50 {padding-right:2%}
.right.width50 {padding-left:2%}
@media all and (max-width:620px) {
.width50 {width:100%;display:block}
.left.width50 {padding-right:0}
.right.width50 {padding-left:0}
}

.min_150 {min-width:150px}
.min_100 {min-width:100px}

/********** NAV ***********/
#nav {height:64px;border-bottom:1px solid #ddd}
#nav #logo {display:table;width:100%}
#nav #logo a:hover {text-decoration:none}
#nav #logo div {display:table-cell;vertical-align:middle;height:64px;color:#000}
#nav #logo a img {height:40px;width:40px;margin-right:10px}


/********** FONTS ***********/

h1 {font-size:3em}
@media all and (max-width:620px) {
h1 {font-size:2.2em}
}

.font_strong {font-weight:bold}
.font_small {font-size:0.9em}
.weight-normal {font-weight:normal}

/********** GLOBALS ***********/
html, body {padding:0;margin:0;font-family:sans-serif;background:#f7f7f7}
* {box-sizing:border-box}
.container {width:1280px;max-width:90%;margin-left:auto;margin-right:auto}
p {line-height:1.7em}
ul {padding:0;list-style-type:none}
li {line-height:1.7em}
a {color:blue;text-decoration:none}
a:hover {text-decoration:underline}
img {max-width:100%;height:auto}
.no_event {pointer-events:none}
label {font-weight:bold}

/********** DISPLAY ***********/

.displaynone {display:none;}

@media all and (max-width:480px) {
.hide_on_mobile {display:none;
}

